<font size=8>**Exploratory Data Analysis using pandas**</font>

<font size=6>**1. Accessing the data**</font>

**Importing the necessary libraries and modules**

In [2]:
import pandas as pd
from datasets import load_dataset

**Loading the dataset and transforming it to a pandas dataframe**

In [14]:
ds = load_dataset('lukebarousse/data_jobs')
df = ds['train'].to_pandas()

**Getting some basic information about the dataframe**

In [24]:
print('Number of rows and columns (Rows, Columns): ', df.shape)
df.info()

Number of rows and columns (Rows, Columns):  (785741, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [17]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."

<font size=6>**2. Cleaning the dataframe**</font>

**Coverting column 'job_posted_date' to datetime type from string**

In [4]:
df['job_posted_date']=pd.to_datetime(df.job_posted_date)
type(df['job_posted_date'][42])

pandas._libs.tslibs.timestamps.Timestamp

**Dropping na values from column 'salary_rate'**

In [5]:
df.loc[:, 'salary_rate':'salary_hour_avg'].dropna(subset='salary_rate', inplace=True)
df['salary_rate'].value_counts()

salary_rate
year     22004
hour     10662
month      382
week        10
day          9
Name: count, dtype: int64

**Calculating the annual and hourly median values**

In [23]:
annual_median = df['salary_year_avg'].median()
hourly_median = df['salary_hour_avg'].median()
print('Annual median salary= ',annual_median)
print('Hourly median salary= ',hourly_median)

Annual median salary=  115000.0
Hourly median salary=  45.97999954223633

**Creating a new dataframe and filling in na values with median values in columns 'salary_year_avg' and 'salary_hour_avg'**

In [10]:
df_filled = df.copy()
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(annual_median)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(hourly_median)
df_filled[['salary_year_avg', 'salary_hour_avg']].isna().value_counts()

salary_year_avg  salary_hour_avg
False            False              785741
Name: count, dtype: int64

**Creating another dataframe to drop duplicate rows**

In [8]:
df_unique = df_filled.copy()
df_unique = df_unique.drop_duplicates()
print('Length of original df:                  ', len(df_filled))
print('Length of df after dropping duplicates: ', len(df_unique))
print('Rows dropped:                           ', len(df_filled)-len(df_unique))

Length of original df:                   785741
Length of df after dropping duplicates:  785640
Rows dropped:                            101

**Dropping rows with identical 'job_title' and 'company_name'**

In [9]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])
print('Length of original df:                  ', len(df_filled))
print('Length of df after dropping duplicates: ', len(df_unique))
print('Rows dropped:                           ', len(df_filled)-len(df_unique))

Length of original df:                   785741
Length of df after dropping duplicates:  508042
Rows dropped:                            277699